body{
  background-color: rgb(226, 222, 222);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.row{
  display: flex;
}
.main-container{
  background-color: black;
  padding: 15px;
  border-radius: 20px;
}